*.egg-info
*.pyc
*.pyo
*$py.class
*.so
*.swp
__pycache__
.coverage
.installed.cfg
.mr.developer.cfg
default.profraw
nosetests.xml
coverage.xml
pyvenv.cfg
.eggs/
.tox/
bin/
build/
cover/
eggs/
develop-eggs/
dist/
docs/_build/
lib/
parts/
